<a href="https://colab.research.google.com/github/coderanandmaurya/MongoDB/blob/main/mongodb_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Install**

In [40]:
!apt install mongodb
!service mongodb start

Reading package lists... Done
Building dependency tree
Reading state information... Done
mongodb is already the newest version (1:3.6.3-0ubuntu1.4).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
 * Starting database mongodb
   ...done.

## **Import**

In [41]:
from pymongo import MongoClient

# **Creating Connection**

In [42]:
client = MongoClient()
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'flowercapital', 'local']

## **Creating database**

In [43]:
#In MongoDB, a database is not created until it gets content!
mydb=myclient["flowercapital"]
print(client.list_database_names())

['admin', 'config', 'flowercapital', 'local']

## **Creatng collecion**

In [44]:
mycol = mydb["jam"]

## **insert one documnet**

In [45]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

628b5fcdb3ab0d061b57d169

## **Insert Multiple Documents**

In [46]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('628b5fcdb3ab0d061b57d16a'), ObjectId('628b5fcdb3ab0d061b57d16b'), ObjectId('628b5fcdb3ab0d061b57d16c'), ObjectId('628b5fcdb3ab0d061b57d16d'), ObjectId('628b5fcdb3ab0d061b57d16e'), ObjectId('628b5fcdb3ab0d061b57d16f'), ObjectId('628b5fcdb3ab0d061b57d170'), ObjectId('628b5fcdb3ab0d061b57d171'), ObjectId('628b5fcdb3ab0d061b57d172'), ObjectId('628b5fcdb3ab0d061b57d173'), ObjectId('628b5fcdb3ab0d061b57d174'), ObjectId('628b5fcdb3ab0d061b57d175')]

## **Insert Multiple Documents, with Specified IDs**

In [47]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## **Find One**

In [48]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d169'), 'name': 'Peter', 'address': 'Lowstreet 27'}

## **Find All**

In [49]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## **Return Only Some Fields**

In [50]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [51]:
# exclude "address" from the result
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d169'), 'name': 'Peter'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16a'), 'name': 'Amy'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16b'), 'name': 'Hannah'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16c'), 'name': 'Michael'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16d'), 'name': 'Sandy'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16e'), 'name': 'Betty'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d170'), 'name': 'Susan'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d171'), 'name': 'Vicky'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d172'), 'name': 'Ben'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d173'), 'name': 'William'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d174'), 'name': 'Chuck'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

## **Filter the Result**

In [52]:
# Find document(s) with the address "Park Lane 38"
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

## **Advanced Query**

In [53]:
# Find documents where the address starts with the letter "S" or higher

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d16c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## **Filter With Regular Expressions**

In [54]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## **Sort the Result**

In [55]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d16a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## **Sort Descending**
- sort("name", 1) #ascending 
- sort("name", -1) #descending

In [56]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('628b5fcdb3ab0d061b57d173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('628b5fcdb3ab0d061b57d16a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

## **Delete One**

In [57]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

## **Delete Many Documents**

In [58]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

## **Delete All Documents in a Collection**

In [59]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

22  documents deleted.

## **Delete Collection**

In [60]:
mycol1 = mydb["customers"]

mycol1.drop()

## **Update One**

In [61]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

## **Update Many**

In [62]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

0 documents updated.

## **Limit the result to only return 5 documents**

In [63]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)